In [1]:
# Import dependancies
import pandas as pd
import config

In [2]:
# Import the SQL database into Pandas

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employees')
connection = engine.connect()
pd.read_sql('select * from employees', connection)

NameError: name 'username' is not defined

In [ ]:
# create pandas dataframe

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees

In [ ]:
# Create a bar chart of average salary by title